[project]
	description = A host of Dojo Widgets. DIJIT-X has what DIJIT and dojoX doesn't!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gaurav Ramanan (gaurav21r)
[access "refs/for/refs/*"]
	read = group user/Gaurav Ramanan (gaurav21r)
	push = group user/Gaurav Ramanan (gaurav21r)
	label-Code-Review = -2..+2 group user/Gaurav Ramanan (gaurav21r)
	label-Verified = -1..+1 group user/Gaurav Ramanan (gaurav21r)
	rebase = group user/Gaurav Ramanan (gaurav21r)
	removeReviewer = group user/Gaurav Ramanan (gaurav21r)
	submit = group user/Gaurav Ramanan (gaurav21r)
[access "refs/heads/*"]
	read = group user/Gaurav Ramanan (gaurav21r)
	create = group user/Gaurav Ramanan (gaurav21r)
	push = +force group user/Gaurav Ramanan (gaurav21r)
	pushMerge = group user/Gaurav Ramanan (gaurav21r)
[access "refs/tags/*"]
	push = +force group user/Gaurav Ramanan (gaurav21r)
	pushTag = group user/Gaurav Ramanan (gaurav21r)
	pushSignedTag = group user/Gaurav Ramanan (gaurav21r)
